<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间 -->
<mapper namespace="com.lzh.mapper.SpecilMapper">

    <!-- 根据编号获取客户信息 -->
    <select id="findSpecilSplit" parameterType="java.util.Map" resultType="com.lzh.po.Specil">
        select * from specilinfo where ${columnName} like concat('%',#{keyword},'%') group by ${columnName2} ${rank} limit #{start},#{pageSize}
    </select>

</mapper>